.heading {
  border-bottom: 1px solid #eee;
  height: auto;
  padding: 10px;
  text-align: center;

  color: #404040;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
}

.buttons {
  padding: 10px;
}

.button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sidebar {
  position: absolute;
  width: 438px;
  height: 100%;
  top: 0;
  left: 0;
  overflow: scroll;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  background-color: white;
  direction: rtl;
}

@media (max-width: 438px) {
  .sidebar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
    border-right: 0px solid rgba(0, 0, 0, 0.25);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    background-color: white;
    direction: rtl;
  }
}

.slide_enter {
  transform: translateX(-100%);
}

.slide_enter_active {
  transform: translateX(0);
  transition: transform 500ms;
}

.slide_exit {
  transform: translateX(0);
}

.slide_exit_active {
  transform: translateX(-100%);
  transition: transform 500ms;
}

.content {
  height: 100%;
  direction: ltr;
}
