.heading {
  border-bottom: 1px solid #eee;
  height: auto;
  padding: 25px;
  text-align: center;
  color: #404040;
}

.buttons {
  margin-top: 20px;
  margin-bottom: 2px;
}

.tab {
  background-color: white;
  border: 5px solid white;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px;
  width: fit-content;
  margin: auto;
}

.button {
  background: rgba(167, 167, 167, 0.9);
  border-radius: 999px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, 'Apple Color Emoji', 'Segoe UI Emoji',
    NotoColorEmoji, 'Noto Color Emoji', 'Segoe UI Symbol', 'Android Emoji',
    EmojiSymbols, -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 0 3px 0 3px;
  transition: background-color 250ms linear;
}

.button_active {
  background: rgba(0, 0, 0, 1);
  border-radius: 999px;
  /* box-shadow: rgb(255, 118, 73, 0.9) 0 10px 20px -10px; */
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, 'Apple Color Emoji', 'Segoe UI Emoji',
    NotoColorEmoji, 'Noto Color Emoji', 'Segoe UI Symbol', 'Android Emoji',
    EmojiSymbols, -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 0 3px 0 3px;
  transition: background-color 250ms linear;
}

.sort_button {
  background: rgba(0, 0, 0, 1);
  border-radius: 999px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter, Helvetica, 'Apple Color Emoji', 'Segoe UI Emoji',
    NotoColorEmoji, 'Noto Color Emoji', 'Segoe UI Symbol', 'Android Emoji',
    EmojiSymbols, -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
    'Noto Sans', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin: 0 3px 0 3px;
}

.sort {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #eee;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #404040;
}

.sort_back {
  background-color: white;
  border: 5px solid white;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 10px;
  width: fit-content;
  margin: auto;
}

.sidebar {
  position: absolute;
  width: 438px;
  height: 100%;
  top: 0;
  left: 0;
  overflow: scroll;
  overflow-x: hidden;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
  background-color: white;
  direction: rtl;
}

@media (max-width: 438px) {
  .sidebar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
    overflow-x: hidden;
    border-right: 0px solid rgba(0, 0, 0, 0.25);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    background-color: white;
    direction: rtl;
  }
}

.content {
  height: 100%;
  direction: ltr;
}

.slide_enter {
  transform: translateX(-100%);
}

.slide_enter_active {
  transform: translateX(0);
  transition: transform 500ms;
}

.slide_exit {
  transform: translateX(0);
}

.slide_exit_active {
  transform: translateX(-100%);
  transition: transform 500ms;
}

.locations_enter {
  transform: translateX(-100%);
}

.locations_enter_active {
  transform: translateX(0);
  transition: transform 250ms;
}

.locations_exit {
  transform: translateX(0);
}

.locations_exit_active {
  transform: translateX(-100%);
  transition: transform 250ms;
}

.leaderboard_enter {
  transform: translateX(100%);
}

.leaderboard_enter_active {
  transform: translateX(0);
  transition: transform 250ms;
}

.leaderboard_exit {
  transform: translateX(0);
}

.leaderboard_exit_active {
  transform: translateX(100%);
  transition: transform 250ms;
}
