.imageContainer {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.popup {
  overflow: hidden;
  border-radius: 10px;
}

.image {
  object-fit: cover;
  border-radius: 10px;
}

.textOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 20px;
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 55%
  );
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-family: Inter, sans-serif;
  line-height: 1.6;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title {
  margin: 0 0 10px;
  font-size: 25px;
  line-height: 1.2;
}

.light {
  font-size: 14px;
  opacity: 1;
}

.horizontal img {
  width: 651px !important;
  height: 400px !important;
}

.vertical img {
  width: 301px !important;
  height: 470px !important;
}
