.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  padding: 0px;
  max-width: 90%;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
}

.modalContent.vertical .imageContainer {
  width: 900px;
  height: 950px;
}

.modalContent.horizontal .imageContainer {
  width: 1200px;
  height: 800px;
}

.textOverlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
}

.imageContainer {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.closeButton:hover {
  background: rgba(0, 0, 0, 0.7);
}

.text {
  margin-top: 20px;
  text-align: center;
  color: white;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.detail {
  display: block;
  margin: 5px 0;
  font-size: 16px;
  color: white;
}

.bi {
  margin-right: 8px;
  color: white;
}

@media (max-width: 500px) {
  .modalContent {
    padding: 10px;
  }

  .modalContent.vertical .imageContainer, 
  .modalContent.horizontal .imageContainer { 
    height: 350px;
    width: 400px;
  }

  .title {
    font-size: 20px;
  }

  .detail {
    font-size: 14px;
  }
}
