.listings {
  display: flex;
  justify-content: flex-start;
  height: auto;
  padding: 20px;
  border-bottom: 1px solid #eee;

  color: #404040;
  text-decoration: none;
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;

  z-index: 2;
}

.marker {
  height: 58px;
  width: 58px;
  padding: 10px 10px 5px 0;
}

.text {
  padding: 5px;
  overflow: hidden;
}

.authors {
  max-width: 100px;
  white-space: wrap;
}

.paragraph {
  margin: 0;
}

.title {
  font-size: 17px;
}

@media (max-width: 438px) {
  .listings {
    height: 100%;
    padding: 10px;
    border-bottom: 1px solid #eee;

    color: #404040;
    text-decoration: none;
    font: 400 13.2px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;

    z-index: 2;
  }

  .text {
    padding-left: 10px;
  }

  .marker {
    height: 55px;
    width: 55px;
    padding: 10px 0px 5px 0px;
  }

  .title {
    font-size: 15.2px;
  }
}
