@import 'leaflet/dist/leaflet.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Noto+Sans:wght@400;500;600;700&family=Rubik:wght@300;400;500;600;700&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css');

html,
body {
  margin: 0;
  background-color: #333;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

/* Para popups horizontais */
.horizontal .leaflet-popup-content-wrapper {
  width: 650px !important;
  height: 399px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

/* Para popups verticais */
.vertical .leaflet-popup-content-wrapper {
  width: 300px !important;
  height: 469px !important;
  padding: 0 !important;
  margin: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

/* Estilos gerais para o conteúdo do popup */
.leaflet-popup-content {
  width: auto !important;
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px; /* Borda arredondada para todo o popup */
  overflow: hidden; /* Esconde as partes que extrapolam os limites */
}

/* Estilo para garantir que as imagens se ajustem ao tamanho do container */
.leaflet-popup-content-wrapper img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
  border: none !important;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 500px) {
  .leaflet-popup-content-wrapper {
    width: 351px !important;
    height: 550px !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .horizontal .leaflet-popup-content-wrapper {
    width: 351px !important;
    height: 200px !important;
  }

  .vertical .leaflet-popup-content-wrapper {
    width: 351px !important;
    height: 550px !important;
  }
}

/* Estilo para o overlay de texto nas imagens */
.textOverlay {
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 0 0 15px 15px; /* Bordas arredondadas para o overlay */
}

.custom-marker-cluster {
  background: rgba(156, 86, 255, 1);
  border: 4px solid rgba(197, 155, 255, 0.8);
  border-style: outset;
  border-radius: 50%;
  color: white;
  height: 40px;
  line-height: 30px;
  text-align: center;
  width: 40px;
  font-weight: bold;
  font-size: 14px;
}

.map {
  position: relative;
  z-index: 1;
}
