@import 'leaflet/dist/leaflet.css';

html,
body {
  margin: 0;
  background-color: #333;
}

.leaflet-popup-content {
  min-width: 300px;
  min-height: 470px;
}

.custom-marker-cluster {
  background: rgba(156, 86, 255, 1);
  border: 4px solid rgba(197, 155, 255, 0.8);
  border-style: outset;
  border-radius: 50%;
  color: white;
  height: 40px;
  line-height: 30px;
  text-align: center;
  width: 40px;
  font-weight: bold;
  font-size: 14px;
}